In [15]:
import pandas as pd
INPUT_PATH = '../../datasets/GoogleAmazonSampled_400.csv'
OUTPUT_PATH = '../../evals/eval_Google_Amazon_v1.csv'

df_data = pd.read_csv(INPUT_PATH, index_col=False)
df_eval = pd.read_csv(OUTPUT_PATH, index_col=False)

PROMPT_NAME = "prompt1_instruct_temp_0_gpt-3.5-turbo-instruct"
EVAL_COLUMN_NAME = "prompt1_instruct_temp_0_gpt-3.5-turbo-instruct_maxtok-15"
MODEL = "openAI - gpt-3.5-turbo-instruct"

DATASET_NAME = "GoogleAmazon"

In [16]:
df_data.head(10)

,Unnamed: 0,ltable_id,rtable_id,label,prompt1_en_short_temp_0_gpt4-0613,match_prompt_manual_fewshot_1_eval2_temp_0_gpt3.5_0301,prompt1_en_short_temp_0_gpt3.5-0301,match_prompt_basic_zeroshot_1_eval2_temp_0_gpt3.5_0301,match_prompt_basic_zeroshot_2_eval2_temp_0_gpt3.5_0301,prompt1_instruct_temp_0_gpt-3.5-turbo-instruct
0,0,363,2854,True,True,True,True,True,True,True
1,1,1269,1433,True,True,True,True,False,True,True
2,2,63,2129,True,False,True,True,True,True,True
3,3,540,5,True,True,False,False,False,False,False
4,4,1262,192,True,True,True,True,True,True,True
5,5,1320,685,True,True,False,True,True,True,False
6,6,1092,978,True,True,True,True,True,False,True
7,7,1214,549,True,True,True,True,True,False,True
8,8,1026,2327,True,True,True,True,True,True,True
9,9,594,606,True,True,True,True,True,False,True

In [17]:
from sklearn import metrics
import datetime


def evalColumn(model, prompt, df, column):
    y_true = df["label"]
    y_pred = df[column]
    conf_matrix = metrics.confusion_matrix(y_true, y_pred)
    precision = metrics.precision_score(y_true, y_pred)
    recall = metrics.recall_score(y_true, y_pred)
    f1 = metrics.f1_score(y_true, y_pred)
    accuracy = metrics.accuracy_score(y_true, y_pred)
    global df_eval
    df_eval = df_eval._append({'Model': model, 'Prompt': prompt, 'Accuracy': accuracy, 'precision': precision, 'recall': recall, 'F1': f1, "confusion_matrix": conf_matrix, "Dataset":DATASET_NAME, "Time":datetime.datetime.now()}, ignore_index=True)

evalColumn(MODEL, EVAL_COLUMN_NAME, df_data, PROMPT_NAME)

In [18]:
print(df_data["label"])

0       True
1       True
2       True
3       True
4       True
       ...
395    False
396    False
397    False
398    False
399    False
Name: label, Length: 400, dtype: bool

In [19]:
print(df_data[PROMPT_NAME])

0       True
1       True
2       True
3      False
4       True
       ...
395    False
396    False
397    False
398    False
399    False
Name: prompt1_instruct_temp_0_gpt-3.5-turbo-instruct, Length: 400, dtype: bool

In [20]:
df_eval

,Model,Prompt,Accuracy,precision,recall,F1,confusion_matrix,Dataset,Time
0,openAI - gpt-3.5-turbo-0301,prompt1_en_short_temp_0_gpt3.5-0301_maxtok-15_...,0.9125,0.545455,0.750,0.631579,[[335 25]\n [ 10 30]],GoogleAmazon,2023-10-22 16:59:39.414990
1,openAI - gpt-3.5-turbo-0301,match_prompt_manual_fewshot_1_eval2_temp_0_gpt...,0.8525,0.379747,0.750,0.504202,[[311 49]\n [ 10 30]],GoogleAmazon,2023-10-23 11:53:13.652323
2,openAI - gpt-3.5-turbo-0301,prompt1_en_short_temp_0_gpt3.5-0301_temp_0_gpt...,0.9175,0.552239,0.925,0.691589,[[330 30]\n [ 3 37]],GoogleAmazon,2023-11-12 16:32:15.779012
3,openAI - gpt-4-0613,prompt1_en_short_temp_0_gpt4_0613_maxtok-15,0.9575,0.709091,0.975,0.821053,[[344 16]\n [ 1 39]],GoogleAmazon,2023-11-22 13:52:18.634084
4,openAI - gpt-3.5-turbo-0301,prompt1_en_short_temp_0_gpt3.5-0301_v2_maxtok-15,0.9175,0.552239,0.925,0.691589,[[330 30]\n [ 3 37]],GoogleAmazon,2023-11-22 13:59:55.158583
5,openAI - gpt-3.5-turbo-0301,match_prompt_basic_zeroshot_1_eval2_temp_0_gpt...,0.9175,0.557377,0.850,0.673267,[[333 27]\n [ 6 34]],GoogleAmazon,2023-11-22 20:01:35.219557
6,openAI - gpt-3.5-turbo-0301,match_prompt_manual_fewshot_1_eval2_temp_0_gpt...,0.9200,0.564516,0.875,0.686275,[[333 27]\n [ 5 35]],GoogleAmazon,2023-11-23 12:22:25.244073
7,openAI - gpt-3.5-turbo-0301,match_prompt_basic_zeroshot_2_eval2_temp_0_gpt...,0.9025,0.508772,0.725,0.597938,[[332 28]\n [ 11 29]],GoogleAmazon,2023-11-23 15:01:05.159234
8,openAI - gpt-3.5-turbo-instruct,prompt1_instruct_temp_0_gpt-3.5-turbo-instruct...,0.8625,0.405063,0.800,0.537815,"[[313, 47], [8, 32]]",GoogleAmazon,2023-11-23 15:59:35.879301

In [21]:
# write to csv
df_eval.to_csv(OUTPUT_PATH, index=False)