In [1]:
import pandas as pd
INPUT_PATH = '../../datasets/WalAmazonDataset_sampled.csv'
OUTPUT_PATH = '../../evals/eval_Walmart_Amazon_v1.csv'

df_data = pd.read_csv(INPUT_PATH, index_col=False)
df_eval = pd.read_csv(OUTPUT_PATH, index_col=False)

PROMPT_NAME = "prompt1_en_short_temp_0_gpt3.5-0301_with_brand"
EVAL_COLUMN_NAME = "prompt1_en_short_temp_0_gpt3.5-0301_with_brand_maxtok-15"
MODEL = "openAI - gpt-3.5-turbo-0301"

DATASET_NAME = "WalmartAmazon"

In [2]:
df_data.head(10)

,Unnamed: 0,id1,id2,label,prompt1_en_short_temp_0_gpt3.5-0301_with_brand,match_prompt_manual_fewshot_1_eval2_temp_0_gpt3.5_0301,match_prompt_auto_fewshot_1_eval2_temp_0_gpt3.5_0301,match_prompt_auto_fewshot_2_ama_wal_eval2_temp_0_gpt3.5_0301,match_prompt_auto_fewshot_ama_wal_4examples_eval2_temp_0_gpt3.5_0301
0,0,7784,23390,True,True,False,False,False,False
1,1,15123,23390,True,False,False,False,False,True
2,2,21113,23390,True,True,True,True,False,True
3,3,7384,22973,True,True,True,True,True,True
4,4,11344,22973,True,False,True,False,True,True
5,5,15336,22973,True,True,True,True,True,True
6,6,8176,24537,True,True,True,True,True,True
7,7,14118,24537,True,True,True,True,True,True
8,8,20398,23769,True,True,True,False,False,True
9,9,11027,23769,True,True,True,False,False,True

In [3]:
from sklearn import metrics
import datetime


def evalColumn(model, prompt, df, column):
    y_true = df["label"]
    y_pred = df[column]
    conf_matrix = metrics.confusion_matrix(y_true, y_pred)
    precision = metrics.precision_score(y_true, y_pred)
    recall = metrics.recall_score(y_true, y_pred)
    f1 = metrics.f1_score(y_true, y_pred)
    accuracy = metrics.accuracy_score(y_true, y_pred)
    global df_eval
    df_eval = df_eval._append({'Model': model, 'Prompt': prompt, 'Accuracy': accuracy, 'precision': precision, 'recall': recall, 'F1': f1, "confusion_matrix": conf_matrix, "Dataset":DATASET_NAME, "Time":datetime.datetime.now()}, ignore_index=True)

evalColumn(MODEL, EVAL_COLUMN_NAME, df_data, PROMPT_NAME)

In [4]:
print(df_data["label"])

0       True
1       True
2       True
3       True
4       True
       ...
400    False
401    False
402    False
403    False
404    False
Name: label, Length: 405, dtype: bool

In [5]:
print(df_data[PROMPT_NAME])

0       True
1      False
2       True
3       True
4      False
       ...
400    False
401    False
402    False
403    False
404    False
Name: prompt1_en_short_temp_0_gpt3.5-0301_with_brand, Length: 405, dtype: bool

In [6]:
df_eval

,Model,Prompt,Accuracy,precision,recall,F1,confusion_matrix,Dataset,Time
0,openAI - gpt-3.5-turbo-0301,prompt1_en_short_temp_0_gpt3.5-0301_maxtok-15,0.943210,0.742857,0.650,0.693333,[[356 9]\n [ 14 26]],WalmartAmazon,2023-10-22 17:29:04.083573
1,openAI - gpt-3.5-turbo-0301,match_prompt_manual_fewshot_1_eval2_temp_0_gpt...,0.960494,0.928571,0.650,0.764706,[[363 2]\n [ 14 26]],WalmartAmazon,2023-10-23 13:41:58.270270
2,openAI - gpt-3.5-turbo-0301,match_prompt_auto_fewshot_1_eval2_temp_0_gpt3....,0.940741,0.944444,0.425,0.586207,[[364 1]\n [ 23 17]],WalmartAmazon,2023-10-23 16:23:44.737390
3,openAI - gpt-3.5-turbo-0301,match_prompt_auto_fewshot_2_ama_wal_eval2_temp...,0.945679,0.909091,0.500,0.645161,[[363 2]\n [ 20 20]],WalmartAmazon,2023-10-23 18:23:15.746861
4,openAI - gpt-3.5-turbo-0301,match_prompt_auto_fewshot_ama_wal_4examples_ev...,0.958025,0.848485,0.700,0.767123,[[360 5]\n [ 12 28]],WalmartAmazon,2023-10-25 17:57:16.630795
5,openAI - gpt-3.5-turbo-0301,prompt1_en_short_temp_0_gpt3.5-0301_with_brand...,0.896296,0.482143,0.675,0.562500,"[[336, 29], [13, 27]]",WalmartAmazon,2023-11-14 14:15:06.677046

In [7]:
# write to csv
df_eval.to_csv(OUTPUT_PATH, index=False)