In [22]:
import pandas as pd
INPUT_PATH = '../../datasets/WalAmazonDataset_sampled.csv'
OUTPUT_PATH = '../../evals/eval_Walmart_Amazon_v1.csv'

df_data = pd.read_csv(INPUT_PATH, index_col=False)
df_eval = pd.read_csv(OUTPUT_PATH, index_col=False)

PROMPT_NAME = "prompt1_en_short_temp_0_gpt3.5-0301"
EVAL_COLUMN_NAME = "prompt1_en_short_temp_0_gpt3.5-0301_maxtok-15"
MODEL = "openAI - gpt-3.5-turbo-0301"

DATASET_NAME = "WalmartAmazon"

In [23]:
df_data.head(10)

   Unnamed: 0    id1    id2  label  prompt1_en_short_temp_0_gpt3.5-0301
0           0   7784  23390   True                                 True
1           1  15123  23390   True                                False
2           2  21113  23390   True                                 True
3           3   7384  22973   True                                 True
4           4  11344  22973   True                                False
5           5  15336  22973   True                                 True
6           6   8176  24537   True                                 True
7           7  14118  24537   True                                 True
8           8  20398  23769   True                                 True
9           9  11027  23769   True                                 True

In [24]:
from sklearn import metrics
import datetime


def evalColumn(model, prompt, df, column):
    y_true = df["label"]
    y_pred = df[column]
    conf_matrix = metrics.confusion_matrix(y_true, y_pred)
    precision = metrics.precision_score(y_true, y_pred)
    recall = metrics.recall_score(y_true, y_pred)
    f1 = metrics.f1_score(y_true, y_pred)
    accuracy = metrics.accuracy_score(y_true, y_pred)
    global df_eval
    df_eval = df_eval._append({'Model': model, 'Prompt': prompt, 'Accuracy': accuracy, 'precision': precision, 'recall': recall, 'F1': f1, "confusion_matrix": conf_matrix, "Dataset":DATASET_NAME, "Time":datetime.datetime.now()}, ignore_index=True)

evalColumn(MODEL, EVAL_COLUMN_NAME, df_data, PROMPT_NAME)

/var/folders/gx/tzjwcf8x1llbhhf36mjt7xqr0000gn/T/ipykernel_73947/455398784.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_eval = df_eval._append({'Model': model, 'Prompt': prompt, 'Accuracy': accuracy, 'precision': precision, 'recall': recall, 'F1': f1, "confusion_matrix": conf_matrix, "Dataset":DATASET_NAME, "Time":datetime.datetime.now()}, ignore_index=True)

In [25]:
print(df_data["label"])

0       True
1       True
2       True
3       True
4       True
       ...
400    False
401    False
402    False
403    False
404    False
Name: label, Length: 405, dtype: bool

In [26]:
print(df_data[PROMPT_NAME])

0       True
1      False
2       True
3       True
4      False
       ...
400    False
401    False
402    False
403    False
404    False
Name: prompt1_en_short_temp_0_gpt3.5-0301, Length: 405, dtype: bool

In [27]:
df_eval

,Model,Prompt,Accuracy,precision,recall,F1,confusion_matrix,Dataset,Time
0,openAI - gpt-3.5-turbo-0301,prompt1_en_short_temp_0_gpt3.5-0301_maxtok-15,0.94321,0.742857,0.65,0.693333,"[[356, 9], [14, 26]]",WalmartAmazon,2023-10-22 17:29:04.083573

In [28]:
# write to csv
df_eval.to_csv(OUTPUT_PATH, index=False)